<div class="center-form">
  <mat-card class="card">
    <mat-card-title>
      <mat-icon>directions_car</mat-icon>
      <mat-card-title>"Pico y Placa" Validator</mat-card-title>
    </mat-card-title>
    <mat-card-content>
      <form #form="ngForm"  class="form">
        <mat-form-field class="full-width">
          <mat-label for="license">Enter license plate number</mat-label>
            <input #license="ngModel" name="license" required matInput placeholder="Ex. AAC-0123"
             onkeyup="javascript:this.value=this.value.toUpperCase();" [pattern]=licenseRegex
            [(ngModel)]= "input.license" ngModel >
        </mat-form-field>
        <mat-error *ngIf="license.errors?.pattern && (license.dirty || license.touched)">
          Please enter a valid license plate
        </mat-error>
        <mat-form-field class="full-width">
          <mat-label for="date">Enter date (mm/dd/yyyy)</mat-label>
          <input #date="ngModel" name="date" required matInput placeholder="Ex. 01/30/2021"
          [(ngModel)]= "input.date" ngModel [pattern]=dateRegex>
       </mat-form-field>
       <mat-error *ngIf="date.errors?.pattern && (date.dirty || date.touched)">
        Please enter a valid date 
      </mat-error>
      <mat-form-field class="full-width">
        <mat-label>End Time</mat-label>
        <input matInput required type="time" placeholder="HH:MM" #time="ngModel" name="time" [(ngModel)]= "input.time">
     </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="!form.valid" (click)="onSubmit()"  mat-raised-button color="primary">CHECK</button>
    </mat-card-actions>
  </mat-card>
</div>

